autostart/
Brave/
gedit/
mimeapps.list
systemd/
autostart/
gnome-control-center/
monitors.xml/
Thunar/
BraveSoftware/
gnome-initial-setup-done/
mpv/                 
tilix/
cef_user_data/               
gnome-session/
nautilus/            
totem/
ckb-next/
goa-1.0/
neofetch
touchegg/
Code/    
Google/
nextjs-nodejs/
user-dirs.dirs/
configstore/                 
google-chrome/
user-dirs.locale/
dconf/           
gtk-3.0/                   
obsidian/            
vlc/
deepin/                      
gtk-4.0/
xfce4/
discord/
xwallpaper/
dleyna-server-service.conf
ibus/
pop-shell/
yarn/
dunst/
Insomnia/
pop-system-updater/  
zoomus.conf
enchant/
kylin-video/               
protonvpn/
eog/
libreoffice/               
pulse/
evolution/                   
menus/
